<div class="container content__row">
    <div class="row">
        <aside class="aside">            
            <app-user-info [source]="userInfoDataSource | async"></app-user-info>
            <app-volunteer-template></app-volunteer-template>
        </aside>
        <div class="content">
            <app-admin-volunteer-info [teamDataSource]="teamDataSource | async"></app-admin-volunteer-info>
            <app-admin-plan-run></app-admin-plan-run>
            <app-running-result-table></app-running-result-table>                      
            <app-teams-volunteer-planning></app-teams-volunteer-planning>           
            
        </div>
    </div>

</div>