<div class="container content__row">
    <div class="row">
        <aside class="aside">            
            <app-user-info [source]="userInfoDataSource | async"></app-user-info>
            
        </aside>
        <div class="content">
            <app-admin-volunteer-info [teamDataSource]="teamDataSource | async"></app-admin-volunteer-info>            
            <app-teams-volunteer-planning></app-teams-volunteer-planning>
            
            <div class="news row">
                <div class="news-box col">
                    <div class="news-box__title">EVENTS</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 34.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">WELCOME</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">TRAINING</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35 copy.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">TRAINING</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35 copy.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>

</div>