<div class="container content__row">
    <div class="row">
        <aside class="aside">            
            <app-user-info [source]="userInfoDataSource | async"></app-user-info>
            <app-runners-last-result [source]="runnerLastResultDataSource | async"></app-runners-last-result>
            <app-volunteer-last-history [source]="volunteerHistoryDataSource | async"></app-volunteer-last-history>
            <app-achievements-history></app-achievements-history>
            <app-subscriptions-list></app-subscriptions-list>            
        </aside>
        <div class="content">

            <div class="lk-services row jcsb abmb" style="margin-top: 1.5em">
                <div class="service-block">
                    <div class="service-block__content">
                        <p>Количество выполненых забегов</p>                        
                        <div class="percent">{{runnerCount | async}}</div>
                    </div>                    
                </div>
                <div class="service-block">
                    <div class="service-block__content">
                        <p>Количество участий волонтером</p>                        
                        <div class="percent">{{volunteerismCount | async}}</div>
                    </div>                    
                </div>
                <div class="service-block">
                    <app-team-info [teamDataSource]="teamDataSource | async"></app-team-info>
                </div>    
            </div>            
            <app-plan-run></app-plan-run>
            <app-plan-volunteer></app-plan-volunteer>

            <div class="news row">
                <div class="news-box col">
                    <div class="news-box__title">EVENTS</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 34.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">WELCOME</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">TRAINING</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35 copy.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
                <div class="news-box col">
                    <div class="news-box__title">TRAINING</div>
                    <div class="news-box__image">
                        <img src="assets/images/news/Layer 35 copy.png" alt="">
                    </div>
                    <p class="text"><span class="red">VESTIBULUM LIBERO NISL
                            PORTA VEL</span><br>
                        PRAESENT VESTIBULUM MOLESTIE LACUS. AENEAN NONUMMY
                        HENDRERIT MAURIS. PHASELLUS PORTA. FUSCE ST VARIUS MI.
                        CUM SOCIIS NATOQUE PENATIBUS ET MAG.</p>
                    <a class="nw-button" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>

</div>