<nav class="container row jcsb">
    <ul class="main-menu row">
        <li class="main-menu__item" *ngIf="auth.isAuthenticated()">
            <span>Личный кабинет</span>
            <div class="sub-menu__wrapper">
                <ul class="sub-menu">
                    <li class="sub-menu__item" 
                    [ngClass]="{'active':this.router.url === '/cabinet-runner'}"
                    *ngIf="auth.hasRole(roles.Runner)">
                        <a routerLink="/cabinet-runner">Бегун</a>
                    </li>
                    <li class="sub-menu__item" 
                    [ngClass]="{'active':this.router.url === '/cabinet-admin'}"
                    *ngIf="auth.hasRole(roles.Admin)">
                        <a routerLink="/cabinet-admin">Директор</a>
                    </li>                    
                </ul>
            </div>
        </li>                
    </ul>
    <ul class="main-menu row">
        <li class="main-menu__item" *ngIf="!auth.isAuthenticated()"
            [ngClass]="{'active':this.router.url === '/login'}"><a routerLink="/login">Вход</a></li>
        <li class="main-menu__item" *ngIf="!auth.isAuthenticated()"
            [ngClass]="{'active':this.router.url === '/signup'}"><a routerLink="/signup">Регистрация</a></li>
        <li class="main-menu__item" *ngIf="auth.isAuthenticated()"><a href="#" (click)="logout()">Выход</a></li>
    </ul>
</nav>